.autocomplete-container{
    position: absolute;
    top: 25px;
    left: 35%;
    width: 35.12%;
    
}
.mapInput {
	width: 85%;
    height: 40px;
    padding: 7px;
    border-radius: 20px;
    border: 0;
}